<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cau.UserMapper">

    <select id="selectAllUsers" parameterType="edu.cau.User" resultType="edu.cau.User">
        select * from users
        <where>
            <if test="id != 0 ">
                id = #{id}
            </if>
            <if test="username != null ">
                username = #{username}
            </if>
        </where>
      </select>

    <select id="forEachSelectUsers" parameterType="list" resultType="edu.cau.User">
        select * from users
        <where>
            <foreach collection="list" item="userId"
                     open="id in (" separator="," close=")" >
                #{userId}
            </foreach>
        </where>
    </select>


    <insert id="save" parameterType="edu.cau.User">
        insert into users(username,password) values (#{username},#{password})
    </insert>

    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from users where id = #{userId}
    </delete>
</mapper>